<div class="close-icon-container">
  <ion-icon name="close" class="close-icon" (click)="closeNavigation()"></ion-icon>
</div>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="shipment-purpose">
      <ion-col size="12">
        <ion-text class="formated-text" translate>{{'billingAndServicesOptionPage.signatureOptionBubbleHint.ionText'}}
        </ion-text>
        <ul>
          <li class="formated-text" translate>
            {{'billingAndServicesOptionPage.signatureOptionBubbleHint.noneSpecifiedTitle'}}
            <ul>
              <li class="formated-text inner-list" translate>
                {{'billingAndServicesOptionPage.signatureOptionBubbleHint.noneSpecifiedDefination'}}</li>
            </ul>
          </li>
          <li class="formated-text" translate>
            {{'billingAndServicesOptionPage.signatureOptionBubbleHint.noSignatureRequiredTitle'}}
            <ul>
              <li class="formated-text inner-list" translate>
                {{'billingAndServicesOptionPage.signatureOptionBubbleHint.noSignatureRequiredDefination'}}</li>
            </ul>
          </li>
          <li class="formated-text" translate>
            {{'billingAndServicesOptionPage.signatureOptionBubbleHint.indirectSignatureRequiredTitle'}}
            <ul>
              <li class="formated-text inner-list" translate>
                {{'billingAndServicesOptionPage.signatureOptionBubbleHint.indirectSignatureRequiredDefination'}}
                <ul>
                  <li class="formated-text inner-list-item" translate>
                    {{'billingAndServicesOptionPage.signatureOptionBubbleHint.indirectSignatureRequiredDefinationLevel1Item1'}}
                  </li>
                  <li class="formated-text inner-list-item" translate>
                    {{'billingAndServicesOptionPage.signatureOptionBubbleHint.indirectSignatureRequiredDefinationLevel1Item2'}}
                  </li>
                  <li class="formated-text inner-list-item" translate>
                    {{'billingAndServicesOptionPage.signatureOptionBubbleHint.indirectSignatureRequiredDefinationLevel1Item3'}}
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="formated-text" translate>
            {{'billingAndServicesOptionPage.signatureOptionBubbleHint.directSignatureRequiredTitle'}}
            <ul>
              <li class="formated-text inner-list" translate>
                {{'billingAndServicesOptionPage.signatureOptionBubbleHint.directSignatureRequiredDefination'}}</li>
            </ul>
          </li>
          <li class="formated-text" translate>
            {{'billingAndServicesOptionPage.signatureOptionBubbleHint.adultSignatureRequiredTitle'}}
            <ul>
              <li class="formated-text inner-list" translate>
                {{'billingAndServicesOptionPage.signatureOptionBubbleHint.adultSignatureRequiredDefination'}}</li>
            </ul>
          </li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>