.terms-and-condition-body{
    margin-left: -8px;
    font-family: FedExSans-Regular;
    font-size: 10px
}

.item-inner{
    border-bottom: none !important;
}

.btn-style{
    margin: auto !important;
    width: 100px !important;
}

.row-alignment{
    padding-left: 7px;
}

.label-alignment{
    padding-top: 0px;
}

.checkbox-style{
    --border-color:#007AB7 !important;
}

.label-text-style{
    font-family: FedExSans-Regular;
    font-size: 10px;
}

.parent-checkBox-label{
    font-family: FedExSans-Bold;
    font-size: 12px;
    font-weight: 900;
}

.header-wrapper{
    padding-bottom: 3px;
    padding-right: 40px;
    background-color: #4d148c;
}