<div class="close-icon-container">
  <ion-icon name="close" class="close-icon" (click)="closeNavigation()"></ion-icon>
</div>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class = "shipment-purpose">
      <ion-col size="12" class="message-wrapper">
        <ion-text class="formated-text" translate>{{'customsDetailsPage.shipmentPurposeBubbleHint.labelText'}}</ion-text>
        <ul>
          <li class="formated-text" translate>{{'customsDetailsPage.shipmentPurposeBubbleHint.commercial'}}</li>
          <li class="formated-text" translate>{{'customsDetailsPage.shipmentPurposeBubbleHint.gift'}}</li>
          <li class="formated-text" translate>{{'customsDetailsPage.shipmentPurposeBubbleHint.sample'}}</li>
          <li class="formated-text" translate>{{'customsDetailsPage.shipmentPurposeBubbleHint.returnAndRepair'}}</li>
          <li class="formated-text" translate>{{'customsDetailsPage.shipmentPurposeBubbleHint.personalEffects'}}</li>
          <li class="formated-text" translate>{{'customsDetailsPage.shipmentPurposeBubbleHint.personalUser'}}</li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
